<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Magasin - TP03</title>

  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    class="logo"
    rel="icon"
    type="image/png"
    href="image/tresBeauChat.jpg"
  />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/javaScript.js"></script>
</head>

<body>
  <app-header></app-header>

  <div class="container mt-4">
    <app-product-filter
    (filterChanged)="updateFilteredCatalogue($event)"
    (sortChanged)="updateSortOrder($event)"
    (tagSorted)="updateCatalogueByTag($event)"
    (sortById)="sortById($event.order)"
    (sortAlphabetically)="sortAlphabetically($event.order)"
  ></app-product-filter>
  
  

    <app-product-list [catalogue]="catalogue"></app-product-list>
  </div>

  <app-footer></app-footer>
</body>
</html>
