<!-- Carousel -->
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      (click)="goToSlide(0)"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button
      (click)="goToSlide(1)"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="1"
    ></button>
    <button
      (click)="goToSlide(2)"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="2"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="\assets\images\produits\NM-bouteilleEau-1.jpg"
        class="d-block w-100"
        alt="Nouveautés"
      />
      <div class="carousel-caption">
        <h3>Nouvelle Collection</h3>
        <p>Découvrez nos dernières tendances</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="\assets\images\produits\NM-gelDouche-1.jpg"
        class="d-block w-100"
        alt="Promotions"
      />
      <div class="carousel-caption">
        <h3>Offres Spéciales</h3>
        <p>Jusqu'à -50% sur une sélection d'articles</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://i.pinimg.com/564x/24/2f/2c/242f2cd70e7cd0e6da2921580167d63b.jpg"
        class="d-block w-100"
        alt="Collections"
      />
      <div class="carousel-caption">
        <h3>Collections Exclusives</h3>
        <p>Des pièces uniques pour vous démarquer</p>
      </div>
    </div>
  </div>

  <button
    (click)="prev()"
    class="carousel-control-prev"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    (click)="next()"
    class="carousel-control-next"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<app-index-body></app-index-body>
