<form class="purchase-form">
  <h3>Formulaire d'achat :) - DIP</h3>

  <label for="name">Nom :</label>
  <input type="text" id="name" name="name" placeholder="Votre nom" required />

  <label for="email">Email :</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Votre email"
    required
  />

  <label for="address">Adresse :</label>
  <input
    type="text"
    id="address"
    name="address"
    placeholder="Votre adresse"
    required
  />

  <label for="billing-address">Adresse de facturation :</label>
  <input
    type="text"
    id="billing-address"
    name="billing-address"
    placeholder="Votre adresse de facturation"
    required
  />

  <label for="total-price">Prix total :</label>
  <input
    type="text"
    id="total-price"
    name="total-price"
    placeholder="0.00 €"
    readonly
  />

  <label for="total-items">Nombre d'objets :</label>
  <input
    type="number"
    id="total-items"
    name="total-items"
    placeholder="0"
    readonly
  />

  <button type="submit">Acheter</button>
</form>

<h2>Résumée des articles :</h2>

<div class="add-card-form"></div>

<hr />

<!-- cards-manager.component.html -->
<div class="add-card-form">
  <h3>Ajouter une nouvelle carte</h3>
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <!-- Nom du titulaire -->
    <div class="form-group">
      <input
        type="text"
        formControlName="cardHolderName"
        placeholder="Nom du titulaire"
      />

      <!-- Pour le nom du titulaire -->
      <div
        *ngIf="
          cardForm.get('cardHolderName')?.errors &&
          cardForm.get('cardHolderName')?.touched
        "
        class="error-message"
      >
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['required']">
          Le nom est requis
        </span>
        <span
          *ngIf="cardForm.get('cardHolderName')?.errors?.['invalidCharacters']"
        >
          Le nom ne doit contenir que des lettres, espaces, tirets et
          apostrophes
        </span>
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['tooShort']">
          Le nom est trop court
        </span>
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['tooLong']">
          Le nom est trop long
        </span>
        <span
          *ngIf="cardForm.get('cardHolderName')?.errors?.['incompleteName']"
        >
          Veuillez entrer le prénom et le nom
        </span>
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['partTooShort']">
          Chaque partie du nom doit contenir au moins 2 caractères
        </span>
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['pattern']">
          Le nom ne doit contenir que des lettres
        </span>
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['minlength']">
          Le nom doit contenir au moins 2 caractères
        </span>
        <span *ngIf="cardForm.get('cardHolderName')?.errors?.['twoWords']">
          Vous devez mettre le prenom et le nom
        </span>
      </div>
    </div>

    <!-- Numéro de carte -->
    <div class="form-group">
      <input
        type="text"
        formControlName="cardNumber"
        placeholder="Numéro de la carte"
        (input)="formatCardNumber($event)"
        maxlength="19"
      />

      <!-- Validator -->
      <div
        *ngIf="
          cardForm.get('cardNumber')?.errors &&
          cardForm.get('cardNumber')?.touched
        "
        class="error-message"
      >
        <span *ngIf="cardForm.get('cardNumber')?.errors?.['required']">
          Le numéro de carte est requis
        </span>
        <span *ngIf="cardForm.get('cardNumber')?.errors?.['invalidCharacters']">
          Le numéro ne doit contenir que des chiffres
        </span>
        <span *ngIf="cardForm.get('cardNumber')?.errors?.['invalidLength']">
          Le numéro doit contenir 16 chiffres
        </span>
        <span *ngIf="cardForm.get('cardNumber')?.errors?.['invalidChecksum']">
          Numéro de carte invalide
        </span>
        <span *ngIf="cardForm.get('cardNumber')?.errors?.['invalidCardType']">
          Type de carte non supporté
        </span>
        <span *ngIf="cardForm.get('cardNumber')?.errors?.['invalidPrefix']">
          Le numéro de carte doit commencer par 4 ou 5
        </span>
      </div>
    </div>

    <!-- Date d'expiration -->
    <div class="form-group">
      <input
        type="text"
        formControlName="expiryDate"
        placeholder="Date d'expiration (MM/AA)"
        (input)="formatExpiryDate($event)"
        maxlength="5"
      />

      <!-- Pour la date d'expiration -->
      <div
        *ngIf="
          cardForm.get('expiryDate')?.errors &&
          cardForm.get('expiryDate')?.touched
        "
        class="error-message"
      >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['required']"
          >La date d'expiration est requise</span
        >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['invalidFormat']"
          >Format invalide (MM/YY)</span
        >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['invalidMonth']"
          >Mois invalide</span
        >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['expired']"
          >Carte expirée</span
        >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['tooFarInFuture']"
          >Date d'expiration trop éloignée</span
        >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['pattern']"
          >Format de date invalide (MM/AA)</span
        >
        <span *ngIf="cardForm.get('expiryDate')?.errors?.['expiredCard']"
          >La carte est expirée</span
        >
      </div>
    </div>

    <!-- CVV -->
    <div class="form-group">
      <input
        type="text"
        formControlName="cardCVV"
        placeholder="CVV"
        maxlength="3"
      />

      <div
        *ngIf="
          cardForm.get('cardCVV')?.errors && cardForm.get('cardCVV')?.touched
        "
        class="error-message"
      >
        <span *ngIf="cardForm.get('cardCVV')?.errors?.['required']"
          >Le CVV est requis</span
        >
        <span *ngIf="cardForm.get('cardCVV')?.errors?.['invalidCharacters']"
          >Le CVV ne doit contenir que des chiffres</span
        >
        <span *ngIf="cardForm.get('cardCVV')?.errors?.['invalidLength']"
          >Longueur du CVV invalide</span
        >
        <span *ngIf="cardForm.get('cardCVV')?.errors?.['invalidLength']"
          >Le CVV doit contenir 3 chiffres</span
        >
        <span *ngIf="cardForm.get('cardCVV')?.errors?.['pattern']"
          >Le CVV doit contenir 3 chiffres</span
        >
      </div>
    </div>

    <button type="submit">Ajouter la carte</button>
  </form>
</div>

<!-- Section pour afficher la carte (preview)-->
<div class="container">
  <h2>Aperçu :</h2>
  <div class="card">
    <div class="card-inner">
      <div class="front">
        <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" />
        <div class="row">
          <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" />
          <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" />
        </div>
        <div class="row card-no">
          <p>{{ maskedCardNumber || "XXXX XXXX XXXX XXXX" }}</p>
        </div>
        <div class="row card-holder">
          <p>NOM TITULAIRE</p>
          <p>EXPIRE FIN</p>
        </div>
        <div class="row name">
          <p>
            {{
              cardForm.get("cardHolderName")?.value || "XXXXXX XXXXXXXXXXXXXX"
            }}
          </p>
          <p>{{ cardForm.get("expiryDate")?.value || "XX/XX" }}</p>
        </div>
      </div>
      <div class="back">
        <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" />
        <div class="bar"></div>
        <div class="row card-cvv">
          <div>
            <img src="https://i.ibb.co/S6JG8px/pattern.png" />
          </div>
          <p>{{ cardForm.get("cardCVV")?.value || "XXX" }}</p>
        </div>
        <div class="row card-text">
          <p>CARTE VIRTUEL</p>
        </div>
        <div class="row signature">
          <p>SIGNATURE</p>
          <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="80px" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-cards-list></app-cards-list>
