<div class="container mt-4">
    <h3 class="text-center">Filtrer les Produits</h3>
    <div class="tags mb-3">
        <span *ngFor="let tag of tags" 
              [class.selected]="selectedTags.includes(tag)" 
              (click)="toggleTag(tag)"
              class="badge badge-secondary me-2" style="cursor: pointer;">
            {{ tag }}
        </span>
    </div>

    <h4>Trier par ID</h4>
    <div class="d-flex mb-2">
        <button class="btn btn-success button-margin" (click)="triggerSortById('asc')">ID Croissant</button>
        <button class="btn btn-danger button-margin" (click)="triggerSortById('desc')">ID Décroissant</button>
    </div>
    
    <h4>Trier par Ordre Alphabétique</h4>
    <div class="d-flex mb-2">
        <button class="btn btn-info button-margin" (click)="triggerSortAlphabetically('asc')">A-Z</button>
        <button class="btn btn-warning button-margin" (click)="triggerSortAlphabetically('desc')">Z-A</button>
    </div>
    
    <h4>Trier par Prix</h4>
    <div class="d-flex mb-2">
        <button class="btn button-margin btn-primary me-2" (click)="changeSortOrder('asc')">Prix Croissant</button>
        <button class="btn btn-danger" (click)="changeSortOrder('desc')">Prix Décroissant</button>
    </div>
    
    
</div>
