<div class="container mt-4">
    <h2 class="text-center">Liste des Produits</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Tags</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produit of catalogue">
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.tags.join(', ') }}</td>
                <td>{{ produit.price }} €</td>
            </tr>
        </tbody>
    </table>
</div>
