<form (ngSubmit)="onSubmit()" #clientForm="ngForm">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="firstName">Prénom</label>
      <input type="text" class="form-control" id="firstName" name="prenom" required [(ngModel)]="prenom" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Nom</label>
      <input type="text" class="form-control" id="lastName" name="nom" required [(ngModel)]="nom" />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="address">Adresse</label>
      <input type="text" class="form-control" id="address" name="adresse" required [(ngModel)]="adresse" />
    </div>
    <div class="col-md-3 mb-3">
      <label for="cp">Code Postal</label>
      <input type="text" class="form-control" id="cp" name="cp" required [(ngModel)]="cp" />
    </div>
    <div class="col-md-3 mb-3">
      <label for="city">Ville</label>
      <input type="text" class="form-control" id="city" name="ville" required [(ngModel)]="ville" />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="tel">Téléphone</label>
      <input type="tel" class="form-control" id="tel" name="tel" required [(ngModel)]="tel" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email" />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="civility">Civilité</label>
      <select class="form-control" id="civility" name="civilite" required [(ngModel)]="civilite">
        <option value="">Choisir...</option>
        <option value="M">Monsieur</option>
        <option value="Mme">Madame</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" name="login" required [(ngModel)]="login" />
    </div>
    <div class="col-md-4 mb-3">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password" />
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Créer le compte</button>
</form>
