<main class="container mt-4">
  <h2>Récapitulatif des Informations</h2>
  <ul>
    <li><strong>Prénom:</strong> {{ prenom }}</li>
    <li><strong>Nom:</strong> {{ nom }}</li>
    <li><strong>Adresse:</strong> {{ adresse }}</li>
    <li><strong>Code Postal:</strong> {{ cp }}</li>
    <li><strong>Ville:</strong> {{ ville }}</li>
    <li><strong>Téléphone:</strong> {{ tel }}</li>
    <li><strong>Email:</strong> {{ email }}</li>
    <li><strong>Civilité:</strong> {{ civilite }}</li>
    <li><strong>Login:</strong> {{ login }}</li>
  </ul>
</main>


{{ nom }}