<div class="nos-produit">
  <h3>Vos articles</h3>
  <p>Consultez vos articles !</p>

  <p>(TEMP) Id : {{ id }}</p>
  <a class="nav-link btn-payment" routerLink="/paiement">Vers le paiement</a>

  <hr />
  <div class="catalogue">
    <div *ngFor="let produit of produits" class="produit">
      <img [src]="produit.image" alt="{{ produit.name }}" />
      <h2>{{ produit.name }}</h2>
      <p>{{ produit.description }}</p>
      <hr />
      <p class="price">Prix : {{ produit.price }}€</p>
    </div>
  </div>
</div>
