<div class="nos-produit">
  <h3>Vos articles</h3>
  <p>Consultez vos articles !</p>

  <hr />
  <p>Prix total : {{ getPrixTotal }}</p>
  <p>Nombre d'articles : {{ getArticleTotal }}</p>

  <a class="nav-link btn-payment" routerLink="/paiement">Vers le paiement</a>
  <hr />

  <h4 *ngIf="getArticleTotal == 0">Votre panier est vide</h4>
  <div class="catalogue">
    <div *ngFor="let cartProduits of getPanier()" class="cartProduits">
      <img [src]="cartProduits.image" alt="{{ cartProduits.name }}" />
      <h2>{{ cartProduits.name }}</h2>
      <p>{{ cartProduits.description }}</p>
      <hr />
      <p class="price">Prix : {{ cartProduits.price }}€</p>
      <!-- <p>Quantité : {{ cartProduits.quantity }}</p> -->
      <div class="input-wrapper">
        <p for="positive-number" class="input-label">Quantité :</p>
        <input
          type="number"
          id="positive-number"
          class="positive-number"
          min="0"
          step="1"
          placeholder="1"
          value="{{ cartProduits.quantity }}"
        />
      </div>
      <p>
        Prix total :
        {{ (cartProduits.quantity * cartProduits.price).toFixed(2) }}€
      </p>
      <button class="btn-buy">Mettre à jour</button>

      <button class="btn-buy" (click)="onRemoveFromCart(cartProduits)">
        Supprimer
      </button>
    </div>
  </div>
</div>

<a routerLink="/boutique" class="btn-back">Retour boutique</a>
<hr />
